In [5]:
import numpy as np
import pandas as pd
from pathlib import Path

In [6]:
%matplotlib inline

In [21]:
animals={
0:"nothing",
1: "deer",
2: "moose",
3: "squirrel",
4: "rodent",
5: "small_mammal",
6: "elk",
7: "pronghorn_antelope",
8: "rabbit",
9: "bighorn_sheep",
10: "fox", 
11: "coyote", 
12: "black_bear", 
13: "raccoon", 
14: "skunk", 
15: "wolf", 
16: "bobcat", 
17: "cat", 
18: "dog", 
19: "opossum", 
20: "bison", 
21: "mountain_goat", 
22: "mountain_lion"}

In [8]:
classes_map =  {19: 0,
 3: 1,
 8: 2,
 4: 3,
 13: 4,
 1: 5,
 11: 6,
 16: 7,
 17: 8,
 14: 9,
 18: 10,
 10: 11,
 22: 12}

In [9]:
classes_map

{1: 5,
 3: 1,
 4: 3,
 8: 2,
 10: 11,
 11: 6,
 13: 4,
 14: 9,
 16: 7,
 17: 8,
 18: 10,
 19: 0,
 22: 12}

In [10]:
class_map_reversed = {v:k for k,v in classes_map.items() }

In [11]:
PATH= Path("/home/shaun/data/kaggle/iwild")

In [25]:
preds = np.load(PATH/"preds-baseline.npy")

In [26]:
max_preds = np.argmax(preds, axis=1)

In [36]:
confidence = [preds[i][j] for i,j in enumerate(max_preds)]

In [27]:
final_preds = []

In [28]:
for i,pred in enumerate(max_preds):
    if preds[i][pred] < 0.4:
        final_preds.append(0)
    else:
        final_preds.append(class_map_reversed[pred])

In [29]:
final_preds[:10]

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [30]:
class_animal = [animals[i] for i in final_preds]

In [31]:
submdf = pd.read_csv(PATH/"sample_submission.csv")

In [32]:
submdf["Predicted"] =  final_preds

In [34]:
submdf["animal"] = class_animal

In [37]:
submdf["confidence"] = confidence

In [39]:
sorted_df = submdf.sort_values(by=["confidence"], ascending=False)

In [58]:
sorted_df[sorted_df.animal == "opossum"].head(n=10)

                                          Id  Predicted   animal  confidence
152083  3579ae0a-2bfc-11e9-bcad-06f10d5896c4         19  opossum    0.994895
152081  d10aa343-2bf6-11e9-bcad-06f10d5896c4         19  opossum    0.991765
151473  083b97df-2c14-11e9-bcad-06f10d5896c4         19  opossum    0.991298
151703  1dfd947c-2c11-11e9-bcad-06f10d5896c4         19  opossum    0.986319
151705  aa574aa6-2c14-11e9-bcad-06f10d5896c4         19  opossum    0.979198
152082  a500a8cf-2c1a-11e9-bcad-06f10d5896c4         19  opossum    0.977940
152073  f0ed5d28-2c01-11e9-bcad-06f10d5896c4         19  opossum    0.977042
151472  7836383a-2bfa-11e9-bcad-06f10d5896c4         19  opossum    0.976608
151704  6f15ad61-2c19-11e9-bcad-06f10d5896c4         19  opossum    0.974981
151846  299fd322-2c20-11e9-bcad-06f10d5896c4         19  opossum    0.974538

In [52]:
for key,item in animals.items():
    x = sorted_df.animal==item
    y = sorted_df[x]
    try:
        print(y.iloc[0])
    except IndexError:
        print("no class present")

Id            383955d6-2c09-11e9-bcad-06f10d5896c4
Predicted                                        0
animal                                     nothing
confidence                                     0.4
Name: 27641, dtype: object
Id            f0599a70-2c03-11e9-bcad-06f10d5896c4
Predicted                                        1
animal                                        deer
confidence                                0.999992
Name: 133233, dtype: object
no class present
Id            82a9414a-2c22-11e9-bcad-06f10d5896c4
Predicted                                        3
animal                                    squirrel
confidence                                0.999303
Name: 61712, dtype: object
Id            95821499-2c0e-11e9-bcad-06f10d5896c4
Predicted                                        4
animal                                      rodent
confidence                                 0.95643
Name: 116708, dtype: object
no class present
no class present
no class present
Id            8cc83aac-2bfd-11e9-bcad-06f10d5896c4
Predicted                                        8
animal                                      rabbit
confidence                                0.998654
Name: 116547, dtype: object
no class present
Id            95821490-2c0e-11e9-bcad-06f10d5896c4
Predicted                                       10
animal                                         fox
confidence                                0.986841
Name: 135808, dtype: object
Id            20071f5f-2c08-11e9-bcad-06f10d5896c4
Predicted                                       11
animal                                      coyote
confidence                                0.999943
Name: 54022, dtype: object
no class present
Id            12f8e691-2c1c-11e9-bcad-06f10d5896c4
Predicted                                       13
animal                                     raccoon
confidence                                0.998284
Name: 140422, dtype: object
Id            87bb4f14-2c04-11e9-bcad-06f10d5896c4
Predicted                                       14
animal                                       skunk
confidence                                 0.97725
Name: 114494, dtype: object
no class present
Id            2c465dbb-2c15-11e9-bcad-06f10d5896c4
Predicted                                       16
animal                                      bobcat
confidence                                0.999049
Name: 31157, dtype: object
Id            59d72fad-2c02-11e9-bcad-06f10d5896c4
Predicted                                       17
animal                                         cat
confidence                                0.995767
Name: 24146, dtype: object
Id            0fad1e38-2c0d-11e9-bcad-06f10d5896c4
Predicted                                       18
animal                                         dog
confidence                                0.999773
Name: 98607, dtype: object
Id            3579ae0a-2bfc-11e9-bcad-06f10d5896c4
Predicted                                       19
animal                                     opossum
confidence                                0.994895
Name: 152083, dtype: object
no class present
no class present
Id            8489e92c-2c19-11e9-bcad-06f10d5896c4
Predicted                                       22
animal                               mountain_lion
confidence                                0.788731
Name: 38347, dtype: object

In [40]:
sorted_df.head()

                                          Id  Predicted animal  confidence
133233  f0599a70-2c03-11e9-bcad-06f10d5896c4          1   deer    0.999992
56247   b6463be4-2c20-11e9-bcad-06f10d5896c4          1   deer    0.999992
114239  319e1c71-2bff-11e9-bcad-06f10d5896c4          1   deer    0.999992
101749  c2c7a44a-2c12-11e9-bcad-06f10d5896c4          1   deer    0.999991
36187   9b76c1c7-2c0a-11e9-bcad-06f10d5896c4          1   deer    0.999990

In [74]:
np.sum(submdf["Predicted"] == 0)

2371

In [75]:
submdf.to_csv(PATH/"subm3.csv", index=False)

In [76]:
! kaggle competitions submit -c iwildcam-2019-fgvc6 -f $PATH/subm3.csv -m "Fastai baseline threshold 0.23"

100%|███████████████████████████████████████| 5.80M/5.80M [00:10<00:00, 560kB/s]
403 - Your team has used its submission allowance (2 of 2). This resets at midnight UTC (23 hours from now).