In [5]:
import pandas as pd
import numpy as np

In [6]:
df_train = pd.read_csv("~/data/kaggle/dont-overfit/train.csv")

In [37]:
x = df_train.drop(columns=['target','id']).values
mean = np.mean(x)
std = np.std(x)

In [38]:
data_norm = (x-mean)/std

In [11]:
from sklearn.ensemble import GradientBoostingClassifier

In [96]:
from sklearn.linear_model import LassoCV,LogisticRegressionCV,RidgeCV,SGDClassifier
l1=LassoCV().fit(x,y)
l2=LogisticRegressionCV().fit(x,y)

In [12]:
y = df_train.target

In [86]:
clf = GradientBoostingClassifier(n_estimators=25, learning_rate=0.1,
    max_depth=2, random_state=0).fit(data_norm, y)

In [87]:
clf.score(data_norm[75:],y[75:])

0.9085714285714286

In [19]:
df_test = pd.read_csv("~/data/kaggle/dont-overfit/test.csv")

In [23]:
df_test.head()

,id,0,1,2,3,4,5,6,7,8,...,290,291,292,293,294,295,296,297,298,299
0,250,0.500,-1.033,-1.595,0.309,-0.714,0.502,0.535,-0.129,-0.687,...,-0.088,-2.628,-0.845,2.078,-0.277,2.132,0.609,-0.104,0.312,0.979
1,251,0.776,0.914,-0.494,1.347,-0.867,0.480,0.578,-0.313,0.203,...,-0.683,-0.066,0.025,0.606,-0.353,-1.133,-3.138,0.281,-0.625,-0.761
2,252,1.750,0.509,-0.057,0.835,-0.476,1.428,-0.701,-2.009,-1.378,...,-0.094,0.351,-0.607,-0.737,-0.031,0.701,0.976,0.135,-1.327,2.463
3,253,-0.556,-1.855,-0.682,0.578,1.592,0.512,-1.419,0.722,0.511,...,-0.336,-0.787,0.255,-0.031,-0.836,0.916,2.411,1.053,-1.601,-1.529
4,254,0.754,-0.245,1.173,-1.623,0.009,0.370,0.781,-1.763,-1.432,...,2.184,-1.090,0.216,1.186,-0.143,0.322,-0.068,-0.156,-1.153,0.825

In [88]:
X_test = df_test.drop(columns=['id']).values

In [89]:
test_norm = (X_test-mean)/std

In [98]:
pred3=l1.predict(X_test)
pred4=l2.predict(X_test)

In [90]:
preds2 = clf.predict(test_norm)

In [91]:
df_samp = pd.read_csv("~/data/kaggle/dont-overfit/sample_submission.csv")

In [102]:
df_samp["target"] = pred4

In [103]:
df_samp.to_csv("pred4.csv", index=False)

In [104]:
! kaggle competitions submit -c dont-overfit-ii -f pred4.csv -m "graident boosting, norm, 11"

100%|████████████████████████████████████████| 183k/183k [00:05<00:00, 34.4kB/s]
403 - Your team has used its submission allowance (5 of 5). This resets at midnight UTC (13 hours from now).

In [63]:
df_snn = pd.read_csv("subm-8.csv")

In [64]:
compare = df_snn["target"] == df_samp["target"]

In [68]:
(len(compare) - np.sum(compare) )/ len(compare)

0.5470379746835443

In [69]:
False == False

True

In [71]:
df_snn.head()

    id  target
0  250       1
1  251       0
2  252       0
3  253       1
4  254       0

5574